ul{
   
    list-style-type: none;
}

html,body{
    
    width: 50%;
 /*   background-color: black;*/
}

#send-message{
    
    width: 10%;
   
    padding-bottom: 10%;
    padding-left: 20%;

}



.message{
    background-color: gray;
    border-radius: 10px;
    min-width: 200px;
    padding: 5%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
}



#chat-txt{
    
}
#testDiv{
    position: relative;
    display: inline;
}
#chat-btn{
    
    padding: 10px 25px;
    background-color:rgb(3,169,244);
    border-radius: 10px;
    border:none;
    color:white;
}