ul{
   
    list-style-type: none;
}

html,body{
    
    width:100%;    
    background-color: black;
}

#send-message{
    display: inline-flex;
    width: 10%;
   
    padding-bottom: 10%;
    padding-left: 20%;
    

}




/*#chat-txt{
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    text-indent: 10px;
}*/ 

#chat-txt{
    margin-right: 10px;
    
    border: none;
}

/*#chat-btn{
    display: block;
    padding: 10px 25px;
    background-color:rgb(3,169,244);
    border-radius: 100px;
    border:none;
    color:white;
    
}*/

/*#chat{
    align-items: center;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    padding-right: 20px;
    padding-top: 10px;
    border-radius: 20px;
    min-width: 400px;
}*/

#chat{
    align-items: center;
 
    
    padding-top: 10px;
    
    
}